.historia-intro {
  margin-bottom: 40px;
  text-align: center;
}

.historia-intro h1 {
  font-size: 2.5rem;
  color: var(--verde-padrao);
  margin-bottom: 15px;
}

.historia-intro p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #444;
  line-height: 1.6;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.timeline {
  background-color: #f9f9f9;
  padding: 40px 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 40px;
}

.timeline h2 {
  font-size: 2rem;
  margin-bottom: 25px;
  color: var(--verde-padrao);
}

.timeline-container {
  position: relative;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.timeline-container:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--verde-padrao);
  transform: translateX(-50%);
}

.timeline-event {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 40px;
  width: 100%;
}

.timeline-event.left {
  align-items: flex-start;
  padding-left: 50px;
}

.timeline-event.right {
  align-items: flex-end;
  padding-right: 50px;
}

.year {
  background-color: var(--verde-padrao);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-details {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin-top: 15px;
}

.event-details h3 {
  color: var(--verde-padrao);
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.event-details p {
  font-size: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .timeline-container {
    padding: 0 10px;
  }

  .timeline-event {
    align-items: center;
  }

  .timeline-event:before {
    left: 0;
    transform: translateX(0);
  }

  .year {
    margin-bottom: 10px;
  }

  .event-details {
    width: 100%;
  }
}

.propósito {
  background-color: #f1f1f1;
  padding: 40px 20px;
  text-align: center;
  margin-top: 40px;
}

.propósito h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--verde-padrao);
}

.propósito p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
